html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #d1e3dd;
  font-family: "Yaldevi", sans-serif;
}
h1 {
  color: #32292f;
}
.header {
  text-align: center;
  font-size: 5rem;
  margin-top: 5rem;
}
.flexboxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  margin: 5rem auto;
}
.flexbox-content {
  border: solid #32292f 10px;
  background-color: #5762d5;
  width: 27%;
  height: 30rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10%;
  box-shadow: black 0 3px 10px;
  padding: 2rem;
}
.text {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 1rem auto;
}
.flexbox-img {
  width: 75%;
  border-radius: 1%;
}
#vaxei {
  width: 65%;
  border-radius: 1%;
}
#remote-control {
  width: 70%;
  border-radius: 1%;
}
@media (max-width: 1024px) {
  .flexbox-content {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .flexbox-content {
    width: 70%;
  }
}
.flexbox-content:hover {
  transform: scale(1.1);
}
