html,
body,
* {
  padding: 0;
  margin: 3rem;
  font-size: 62.5%;
  box-sizing: border-box;
}
.header {
  text-align: center;
  font-size: 5rem;
}
.flexboxes {
  border: solid black 10px;
  margin: 10rem auto;
  width: 40rem;
}
.text {
  font-size: 3rem;
}
